<div>
	<h1 class="access-denied-h">Access denied</h1>
	<form asp-controller="Authentication" asp-action="Logout" method="post">
		<input type='submit' value='Log out' />
	</form>
	<button onclick="window.location.href='/'">Return</button>
</div>

